.bg-darkblue {
    background-color: #0a2342 !important;
    /* dunkelblaue Farbe */
    --bs-navbar-color: rgba(255, 255, 255, 0.75);
    /* Links standardmäßig weiß */
    --bs-navbar-hover-color: #ffc107;
    /* Links beim Hovern gelb */
    --bs-navbar-active-color: #ffffff;
    /* Aktiver Link weiß */
    --bs-navbar-brand-color: #ffffff;
    /* Logo weiß */
}

main {
    background-color: #ffffff !important;
    /* Hauptbereich Hintergrund weiß */
    padding: 20px !important;
    /* Innenabstand 20px; das Importent sagt; dass egal welche anderen Regeln noch exsistieren, diese wird vorgezogen*/
}

footer {
    background-color: #6c757d !important;
    /* Bootstrap grau für den Footer Hintergrund */
    color: #ffffff !important;
    /* weiße Schrift für den Footer */
}
